<a href="/teacherLogin" class="back-button">Back</a>
<div class="login-container">
  <h2>ADD STUDENT'S DETAILS</h2>
  <form method="POST">
      <div class="input-field">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required>
      </div>
      <div class="input-field">
          <label for="rollno">Roll No</label>
          <input type="number" id="rollno" name="roll" required>
      </div>
      <div class="input-field">
        <label for="score">Score</label>
        <input type="number" id="score" name="score" required>
    </div>

      <button type="submit" class="login-button">Submit</button>
  </form>
</div>