<div id="body">
    <div id="teacher" class="container">
        <button><a href="teacherLogin">Teacher Login</a></button>
    </div>
    <div id="student" class="container">
        <button><a href="studentLogin">Student Login</a></button>
    </div>
</div>