<a href="/studentLogin" class="back-button">Logout</a>
<div class="table-container">
    <h2>MY DETAILS</h2>
<table>
    <thead>
        <tr>
            <th>Roll No</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= one.rollno %></td>
            <td><%= one.name %></td>
            <td><%= one.score %></td>
        </tr>
    </tbody>
</table>
</div>