<a href="/" class="back-button">Back</a>
<div class="login-container">
  <h2>Teacher's Login</h2>
  <form method="POST">
      <div class="input-field">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
      </div>
      <div class="input-field">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
      </div>
      <button type="submit" class="login-button">Login</button>
  </form>
</div>