<a href="/teacherLogin" class="back-button">Logout</a>
<div id="body">
    <div id="viewAll" class="container">
        <button><a href="teacherLogin/viewAll">View All Students</a></button>
    </div>
    <div id="edit" class="container">
        <button><a href="teacherLogin/addStudent">Add Student</a></button>
    </div>
</div>